
.details{
    width:100%;
    height:100vh;
     background-color: #111;
    position: relative;
    overflow: hidden;
    z-index: 4;
  
}

.details button{
    width: 150px;
    height: 50px;
    background-color: #111;
    border: none;
    outline: none;
    position: absolute;
    top: 90%;
    left: 40%;
    cursor: pointer;
    color: #fff;
    font-size: 20px;
    letter-spacing: 1px;
    text-transform: capitalize;
}
.details .buttonhide{
    display: none;
}

.details img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* animation-name:ok;
    animation-duration: 3s; */
    cursor:url("../../public/close\ \(1\).png"),auto !important;
}

/*  
@keyframes ok{
    0%{
      transform: scale(0);
    }100%{
        transform: scale(1);
    }
}  */

.details .back{
    display: none;
}

.details .ok{ 
    cursor:url("../../public/cross.png"),auto !important;
     margin: auto;
}

